<h1>WELCOME</h1>
<p>Welcome to StoryBooks 1.0.0</p>
<p>Share experiences from the best and worst parts of your life for the world to see or maintain your own personal diary</p>
{{#if user}}

{{else}}

<a href="/auth/google" class="btn red darken-1"><i class="fa fa-google left"></i> Login with Google</a>
{{/if}}